// Color variables correspond to approximate alpha values.
$pri: #E9D758;
$priDark50: #5d5623;
$priDark50-40: hsla(54, 45%, 25%, 0.4);
$priDark50-30: hsla(54, 45%, 25%, 0.3);
$priDark50-20: hsla(53, 45%, 25%, 0.2);
$priDark50-10: hsla(53, 45%, 25%, 0.1);
$pri-50: #e9d8587f;
$pri80: #e9d858cd;
$sec: #6BAB90;
$sec50: #6bab907f;
$ter: #55917F;
$ter50: #55917f86;
$qua: #D3C1C3;
$qua50: #d3c1c387;
$qui: #AE8CA3;
$qui50: #ae8ca380;

// @mixin DarkTheme($DarkTheme: true) {
// }