// Color variables correspond to approximate alpha values.
$pri: #E9D758;
$pri50: #e9d8587f;
$pri80: #e9d858cd;
$sec: #6BAB90;
$sec50: #6bab907f;
$ter: #55917F;
$ter50: #55917f86;
$qua: #D3C1C3;
$qua50: #d3c1c387;
$qui: #AE8CA3;
$qui50: #ae8ca380;