@use '../themes/variables' as v;

.dashboard {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  // background-color: variables.$pri;
  background-image: url('../../public/images/BackgroundYellow.svg');
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);

  &-container {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;

    .welcome {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      z-index: 1;
      
      &-container {
        width: 100%;
        display: flex;
        justify-content: center;

        &-content {
          margin: auto;
          
          &-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: auto;
            margin: auto;
            text-align: center;
            
            h1 {
              color: black;
              font-size: 60px;
              margin: auto auto 40px auto;
            }
            span {
              font-size: 35px;
              background-color: v.$sec50;
              padding: 30px 70px;
              margin: auto;
              border-radius: 25px;
              color: black;
              box-shadow: none;
              transition-property: color, background-color, box-shadow;
              transition-duration: 0.1s;
      
              &:hover {
                cursor: pointer;
                color: white;
                background-color: v.$ter;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
              }
            }
          }
        }
      }

    }

    &-content {
      // margin: 20px 10px;
      width: 100%;
      height: 100%;
      display: flex;

      &-left {
        // DashNav styles: ./dashnav.scss
      }
      &-right {
        width: 100%;
        background-color: v.$priDark50-20;
        padding: 20px;
        box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.1);
        transition-property: box-shadow;
        h1 {
          margin: 0;
        }
      }
    }
  }


  // Dashboard Mutations

  // Adds gutters for the Dashboard
  &.gutters {
    width: 96%;
    height: 92%;
    
    &-container {
      width: 96%;
      height: 94%;
    }
  }
}