.navigation {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: white;
  padding: 0px 20px 0px 100px;


  &-list { // ul
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;

    &-item { // li
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;

      &-link { // a
        margin: auto;
        
        &-title { // span
          font-size: 21px;
          

          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }

  // sticky mutation
  &.sticky {
    position: fixed;
    top: 0;
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 0.5s;

    &:hover {
      opacity: 1;
    }
  }
}