.navigation {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: white;
  padding: 0px 20px 0px 100px;

  &-list { // ul
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;

    &-item { // li
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;

      &-link { // a
        margin: auto;
        
        &-title { // span
          

          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }

  // sticky mutation
  &.sticky {
    position: fixed;

  }
}