// temporary
html {
    position: fixed;
    width: 100%;
}

.stepper {
    // top-level container
    &-container {
        position: absolute;
        overflow-y: scroll;
        scroll-snap-type: mandatory;
        width: 100%;
        background-color: white;
        padding-top: 20px;
        padding-bottom: 20px;

        // test
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        // flex-flow: column nowrap;
        // font-family: monospace;
    }

    &-overlay {
        height: 50px;
        width: 100%;
        .top {
            color: black
        }
        .bottom {

        }
    }

    &-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        flex-flow: column nowrap;
        font-size: 20px;
        margin: auto;
        // text-align: center;
        scroll-snap-type: y mandatory;
        overflow: hidden;
        width: 80%;
        // height: 100%;

        border: 1px solid black;
        // width: 256px;
        // height: 256px;
        flex-flow: column nowrap;

        @media (prefers-color-scheme: dark) {
        }


        &-block {
            text-align: center;
            scroll-snap-align: center;
            flex: none;
            margin: auto;
            height: 100px;
            // margin-top: 200px;
            color: red;
            
            // margin-bottom: 100px;

        }
    }
}