// This stylesheet consists of utility classes that are used throughout the
// Sous program. These classes are not specific to any one component, but
// are used in multiple places.

// Breakpoints
$xxxl: 1700px;
$xxl: 1500px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 360px;


.mw {
  margin: auto;
  @media (min-width: $xxxl) {
      max-width: 1650px;
    }
  @media (min-width: $xxl) and (max-width: $xxxl) { // 25px margin on each side
    max-width: 1450px;
  }
  @media (min-width: $xl) and (max-width: $xxl) { // 25px margin on each side
    max-width: 1150px;
  }
  @media (min-width: $lg) and (max-width: $xl) { // 25px margin on each side
    max-width: 942px;
  }
  @media (min-width: $md) and (max-width: $lg) { // 25px margin on each side
    max-width: 718px;
  }
  @media (min-width: $sm) and (max-width: $md) { // 20px margin on each side
    max-width: 536px;
  }
  @media (min-width: $xs) and (max-width: $sm) { // 15px margin on each side
    max-width: 330px;
  }
  @media (max-width: $xs) { // 15px margin on each side
    max-width: 330px;
  }
}
